.headerClass {
    width: 100%;
  }
  .headingColor{
    background-color: rgba(36, 56, 145, 0.15);
  }
  
  
  @media only screen and (min-width:990px) and (max-width:1270){
    /* .headingNew{
        padding-inline: 27px !important;
        padding-block: 10px !important;
        
     
    } */
  }